.tabs-content {
  color: $dark;
  background-color: $light-white1;

  padding: 56px 70px 60px;

  &--credit .tabs-content__title {
    width: 290px;
  }

  &--insurance .tabs-content__title {
    width: 340px;
  }
}

.tabs-content__container {
  display: flex;
}

.tabs-content__column {
  width: 50%;
}

.tabs-content__title {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;

  @include zero-margin();
  margin-bottom: 27px;
  max-width: 410px;
}

.tabs-content__image {
  width: 440px;
  height: 290px;
  margin-left: 12px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $light-gray1;
}

.tabs-content__button {
  @include basik-button();
  @include button();
  display: inline-block;
}

.tabs-content__features {
  @include list();

  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;

  width: 400px;
  margin-bottom: 20px;
}

.tabs-content__item {
  position: relative;
  padding-left: 22px;
  padding-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 13px;
    height: 10px;

    background-image: url("./img/tick.svg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.tabs-content__credit-info {
  @include zero-margin();
  max-width: 340px;

  a {
    color: inherit;
    font-weight: 500;

    @include element-brightness();
  }
}

@media (max-width: $tablet-width) {
  .tabs-content {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 55px;
  }

  .tabs-content__column {
    width: auto;

    &--left {
      width: 354px;
      margin-right: 35px;
    }

    &--right {
      width: calc(100% - 390px);
      margin-top: 5px;
    }
  }

  .tabs-content__title {
    font-size: 18px;
    line-height: 1.389;
    margin-bottom: 24px;
  }

  .tabs-content__features {
    font-size: 16px;

    max-width: 100%;
    margin-bottom: 15px;
  }

  .tabs-content__item {
    padding-bottom: 16px;

    &::before {
      top: 4px;
      left: -1px;
    }
  }

  .tabs-content__image {
    max-width: 390px;
    width: 100%;
    height: 260px;

    @include zero-margin();

    img {
      height: 100%;
      max-width: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .tabs-content {
    padding-right: 0;
    padding-left: 5%;

    &--deposit .tabs-content__title {
      width: 90%;
    }

    &--insurance .tabs-content__title {
      width: 81%;
    }

    .tabs-content__button {
      width: 250px;
      padding: 13px 20px 11px;
    }
  }

  .tabs-content__column {
    &--left {
      position: relative;
      width: 100%;
      margin-right: 0;
      z-index: 1;
    }

    &--right {
      position: absolute;
      left: 73%;
      right: 0;
      width: auto;
      margin-top: -3px;
      z-index: 0;
    }
  }

  .tabs-content__title {
    font-size: 16px;
    line-height: 1.4;

    max-width: 370px;
    width: 75%;
    margin-bottom: 19px;
  }

  .tabs-content__image {
    position: absolute;
    top: 45px;
    right: -30px;
    left: 0;
    height: 113px;
    overflow: hidden;
    justify-content: flex-start;
    background-color: inherit;

    img {
      object-fit: contain;
    }
  }

  .tabs-content__features {
    font-size: 14px;

    min-width: 240px;
    max-width: 330px;
    width: 72%;
  }

  .tabs-content__item {
    padding-left: 14px;
    padding-bottom: 12px;

    &::before {
      top: 5px;
      width: 10px;
    }
  }

  .tabs-content__credit-info {
    font-size: 14px;
  }
}
