$white: #ffffff;
$light-white1: #f6f7ff;
$light-white2: #f3f7ff;
$light-white3: #e0e1ea;

$light-gray1: #c1c2ca;
$light-gray2: #c4c4c4;
$gray: #707c87;

$dark-gray1: #394959;
$dark-gray2: #2b3c4f;
$dark: #1f1e25;
$black: #0a1e32;

$light-blue: #565ef5;
$blue1: #2c36f2;
$blue2: #2028b6;
$blue3: #2028b6;
