@mixin element-brightness {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin container() {
  width: calc(100% - 40px);
  max-width: $desktop-width;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 5%;
  }
}

@mixin basic-text() {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: $dark;
}

@mixin button-reset {
  display: block;
  padding: 0;

  font-family: inherit;
  border: none;
}

@mixin button () {
  font-size: 16px;
  line-height: 1.4;
  color: $light-white1;
  text-align: center;
  background-color: $blue1;

  padding: 16px 30px 13px;

  @media (max-width: $tablet-width) {
    padding: 14px 30px 12px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

@mixin basik-button {
  @include button-reset();
  @include element-brightness();

  text-align: center;
  text-decoration: none;

  border-radius: 4px;
  cursor: pointer;
}

@mixin button-close {
  @include button-reset();

  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../../img/cross.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border-radius: 0;

  cursor: pointer;

  @include element-brightness();

  @media (max-width: $mobile-width) {
    width: 12px;
    height: 12px;
    background-size: 100%;
  }
}

@mixin field() {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  border: 1px solid $dark;
  border-radius: 4px;

  height: 60px;
  padding: 2px 24px 0;

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

@mixin zero-margin() {
  margin: 0;
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
