.range {
  width: calc(100% - 14px);
  margin: 13px auto;
  margin-bottom: 23px;
  padding-bottom: 20px;
}

.range--initial-payment {
  .input-range__label--min,
  .input-range__label--max {
    display: none;
  }

  .input-range__label--max {
    .input-range__label-container {
      left: 5px;
    }
  }

  .input-range__label--value {
    top: 12px;
    left: 7px;
  }
}

.range--period {
  .input-range__label--value {
    display: none;
  }

  .input-range__label {
    bottom: -18px;
  }

  .input-range__label--min {
    left: 9px;
  }

  .input-range__label--max {
    right: 15px;
  }
}

.range__legend {
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  color: $gray;
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .range {
    margin-bottom: 17px;
  }
}

@media (max-width: $mobile-width) {
  .range {
    margin: 12px auto 14px;
  }
}
