.contact {
  padding-top: 9px;
  padding-left: 31px;

  &--mobile {
    width: 200px;
  }

  &--phone {
    width: 155px;
  }
}

.contact__link {
  position: relative;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  color: $dark;
  text-decoration: none;

  @include element-brightness();
}

.contact__icon {
  position: absolute;
  top: 1px;
  left: -30px;
}

.contact__text {
  @include zero-margin();
  margin-top: 2px;
}

@media (max-width: $tablet-width) {
  .contact__text {
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .contact {
    padding-left: 28px;
    padding-top: 12px;

    &--phone {
      padding-left: 32px;
    }
  }
}
