.footer {
  font-size: 12px;
  line-height: 1.4;
  color: $gray;

  background-color: $light-white1;

  padding-top: 48px;
  padding-bottom: 40px;
}

.footer__wrapper {
  @include container();

  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  justify-content: space-between;

  &--left {
    position: relative;
    width: 41.2%;
  }

  &--right {
    width: 52.5%;
  }
}

.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__item {
  &--info {
    width: 267px;
    margin-top: 45px;
  }

  &--nav {
    width: 150px;
  }

  &--social {
    width: 102px;
  }
}

.footer__text {
  font-style: normal;

  @include zero-margin();
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 47px;
  }

  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__column {
    flex-direction: column;
    justify-content: flex-start;

    &--right {
      width: 48%;
    }
  }

  .footer__logo {
    margin-bottom: 35px;
  }

  .footer__item {
    margin-bottom: 14px;

    &--info {
      margin-top: 0;
      order: 2;
    }

    &--nav {
      margin-top: 45px;
      margin-bottom: 16px;
    }

    &--social {
      width: 100%;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 30px;
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer__column {
    width: 100%;
  }

  .footer__item {
    margin-bottom: 7px;

    &--info {
      display: none;
    }

    &--nav {
      margin-top: 32px;
      margin-bottom: 0;
    }
  }

  .footer__logo {
    width: 113px;
  }
}
