.social__list {
  @include list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
}

.social__item {
  margin-bottom: 15px;
  width: 16px;
  text-align: end;
  margin-right: 15px;

  &:nth-child(4n+4){
    margin-right: 0;
  }
}

.social__link {
  color: $dark;

  @include element-brightness();
}

@media (max-width: $tablet-width) {
  .social__list {
    justify-content: flex-start;
    margin-left: -5px;
  }

  .social__item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .social__list {
    margin-left: -7px;
  }
}
