.social__list {
  @include list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
  column-gap: 15px;
}

.social__item {
  margin-bottom: 15px;
  width: 16px;
  text-align: center;
}

.social__link {
  color: $dark;

  @include element-brightness();
}

@media (max-width: $tablet-width) {
  .social__list {
    justify-content: flex-start;
    column-gap: 20px;
    margin-left: -5px;
  }
}
