.tabs-slider {
  height: 380px;
  margin-bottom: 68px;
  background-color: $light-white1;

  @media (max-width: $tablet-width) {
    .swiper-pagination-bullets {
      bottom: 10px;
  
      .swiper-pagination-bullet {
        background-color: $blue2;
        opacity: 1;
      }
      
      .swiper-pagination-bullet-active {
        background-color: $light-white4;
      }
    }
  }

  @media (max-width: $mobile-width) {
    height: 362px;
    margin-bottom: 53px;

    .swiper-pagination-bullets {
      bottom: 5px;

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 3px;
      }
    }
  }
}
