.header {
  width: 100%;
  background-color: $light-white1;
}

@media (max-width: $mobile-width) {
  .header--closed {
    .navigation {
      display: none;
    }

    .logo {
      margin-right: auto;
      margin-left: 51px;
    }
  }

  .header__login-link svg {
    width: 14px;
    height: 16px;
  }
}

.header__wrapper {
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 27px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 24px 45px;
  }
}

.header__login-link {
  font-size: 16px;
  line-height: 19px;
  color: $dark;

  display: flex;
  align-items: center;
  column-gap: 10px;

  @include element-brightness;

  @media (max-width: $tablet-width) {
    & span {
      display: none;
    }
  }
}
