.logo {
  display: block;
  width: 150px;
  height: auto;

  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: $tablet-width) {
    width: 133px;
  }

  @media (max-width: $mobile-width) {
    width: 113px;
  }
}
