.map-section {
  margin-bottom: 110px;
}

.map-section__wrapper {
  @include container();
}

.map-section__title {
  font-size: 41px;
  line-height: 1.4;
  font-weight: bold;
  color: $dark;

  @include zero-margin();
  margin-bottom: 56px;
}

.map-section__map-wrapper {
  width: 100%;
  height: 462px;

  background-color: $light-white1;
  background-image:
    url("../img/map-pin.svg"),
    url("../img/map-pin.svg"),
    url("../img/map-pin.svg"),
    url("../img/map-pin.svg"),
    url("../img/map-pin.svg"),
    url("../img/map.jpg");
  background-position:
    70px 60%,
    25.5% 96%,
    32% 59%,
    67.5% 47%,
    84.5% 67%,
    0 0;
  background-size:
    35px 40px,
    35px 40px,
    35px 40px,
    35px 40px,
    35px 40px,
    1024px 462px;
  background-repeat: no-repeat;
}

.map-section__map {
  width: 100%;
  height: 462px;
}

@media (max-width: $tablet-width) {
  .map-section {
    margin-bottom: 80px;
  }

  .map-section__title {
    font-size: 32px;
    margin-bottom: 34px;
  }

  .map-section__map-wrapper {
    background-position: center top;
  }
}

@media (max-width: $mobile-width) {
  .map-section {
    margin-bottom: 60px;
  }

  .map-section__wrapper {
    padding: 0;
  }

  .map-section__title {
    font-size: 22px;
    margin: 0 5% 28px;
  }

  .map-section__map-wrapper {
    height: 381px;
  }

  .map-section__map {
    height: 381px;
  }
}
