.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(93px, auto);
}

.tabs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  text-decoration: none;

  cursor: pointer;

  &--active {
    background-color: $light-white1;
  }

  &--services {
    .tabs__icon {
      margin-right: 0;
    }

    .tabs__title {
      padding-right: 9px;
    }
  }
}

.tabs__icon {
  color: $light-blue;

  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.tabs__title {
  font-size: 18px;
  line-height: normal;
  color: $dark-gray3;
  font-weight: 500;

  margin: 20px 0 18px;
}

@media (max-width: $tablet-width) {
  .tabs {
    display: none;
  }
}
