.header {
  position: relative;
  font-size: 16px;

  @include zero-margin();
  padding-top: 26px;
  padding-bottom: 17px;

  z-index: 2;
  background-color: $light-white1;
}

.header__wrapper {
  @include container();

  display: flex;
  align-items: flex-start;
  align-items: center;
}

.header__logo {
  margin-right: 110px;
  margin-bottom: 20px;
}

.header__container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header__user-nav {
  width: 210px;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 15px;
}

.header__button {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 3px;
  }

  .header__logo {
    margin-right: 66px;
  }

  .header__user-nav {
    font-size: 0;
    width: 50px;
    margin-left: auto;
    margin-top: 0;
  }
}

@media (max-width: $mobile-width) {
  .header {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  .header__wrapper {
    position: relative;
    align-items: center;
  }

  .header__logo {
    width: 115px;
    margin-left: 29px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .header__button {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;

    font-size: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;

    @include element-brightness();

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }

    &--open {
      top: 0;
      left: 5%;

      background-image: url("./img/menu.svg");
      background-size: 100%;
      background-position: 0 4px;
    }

    &--close {
      top: 0;
      right: 5%;

      background-image: url("./img/cross.svg");
      background-size: 13px 13px;
      background-position: 1px 1px;
    }
  }

  .header--close {
    .header__nav {
      display: none;
    }

    .header__button--close {
      display: none;
    }

    .header__user-nav {
      width: 20px;
      margin-bottom: 0;
    }
  }

  .header--open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .header__wrapper {
      position: relative;

      flex-direction: column;
      align-items: flex-start;
    }

    .header__logo {
      margin-bottom: 20px;
    }

    .header__container {
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
      min-height: 630px;
      padding: 20px 5%;
      z-index: 1;
      flex-direction: column;
      background-color: $light-white1;
    }

    .header__user-nav {
      font-size: inherit;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 0;
    }

    .user-nav__icon {
      width: 20px;
      margin-right: 10px;
    }

    .user-nav__link {
      justify-content: flex-start;
    }
  }
}
