.credit-offer {
  color: $dark;
  background-color: $light-white1;

  padding-top: 54px;
  padding-bottom: 60px;
}

.credit-offer__container {
  width: max-content;
  max-width: 90%;
  margin: 0 auto;
}

.credit-offer__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;

  @include zero-margin();
  margin-bottom: 25px;
  width: 382px;
  padding: 0;
}

.credit-offer__text {
  font-size: 16px;
  line-height: 1.4;
  color: $dark-gray1;

  @include zero-margin();
  max-width: 300px;
}

.credit-offer__details {
  display: grid;
  grid-template-columns: 227px auto;
  row-gap: 25px;

  @include zero-margin();
  margin-bottom: 34px;

  dd {
    font-size: 16px;
    line-height: 1.4;
    color: $dark-gray1;
    font-weight: normal;

    @include zero-margin();
  }

  dt {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 500;
  }
}

.credit-offer__item:nth-child(3),
.credit-offer__item:nth-child(4) {
  dd {
    margin-top: 3px;
  }
}

.credit-offer__button {
  @include basik-button();

  display: block;
  width: 100%;

  @include button();
}

@media (max-width: $tablet-width) {
  .credit-offer {
    padding-left: 60px;
    padding-right: 60px;
  }

  .credit-offer__container {
    width: auto;
    max-width: 100%;
  }

  .credit-offer__button {
    padding: 14px 30px 15px;
  }
}

@media (max-width: $mobile-width) {
  .credit-offer {
    padding: 34px 14px 40px;
    margin-bottom: 44px;
  }

  .credit-offer__title {
    font-size: 18px;
  }

  .credit-offer__details {
    grid-template-columns: 1fr;
    row-gap: 13px;
    margin-bottom: 30px;

    dt {
      font-size: 18px;
      padding-bottom: 0;
    }
  }

  .credit-offer__item:nth-child(3),
  .credit-offer__item:nth-child(4) {
    dd {
      margin-top: 0;
    }
  }

  .credit-offer__button {
    padding: 16px 30px;
  }
}
