.credit-price-field {
  margin-bottom: 19px;

  input {
    font: inherit;
    line-height: inherit;
    text-align: right;

    border: none;
    background-color: transparent;

    width: 105px;
    padding-right: 5px;
  }

  &:nth-child(1) {
    .credit-price-field__wrapper {
      padding-top: 0;
    }
  }

  &:nth-child(2) {
    .credit-price-field__wrapper {
      input {
        margin-left: 5px;
      }
    }
  }

  &:nth-child(3) {
    .credit-price-field__label {
      margin-bottom: 8px;
    }

    .credit-price-field__wrapper {
      input {
        margin-left: -20px;
      }
    }
  }
}

.credit-price-field__w {
  margin-left: -20px;
}

.credit-price-field--invalid {
  .credit-price-field__wrapper {
    border-color: $red;
  }

  .credit-price-field__error {
    display: inline;
  }
}

.credit-price-field__label {
  display: block;
  font-size: 16px;
  line-height: 1.4;
  color: $dark-gray1;
  margin-bottom: 10px;
}

.credit-price-field__wrapper {
  display: flex;
  justify-content: center;

  @include field();
  margin-bottom: 5px;
}

.credit-price-field__button {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  &--minus {
    margin-right: auto;
  }

  &--plus {
    margin-left: auto;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.credit-price-field__icon {
  width: 16px;
  height: auto;
}

.credit-price-field__units {
  width: 100px;
}

.credit-price-field__error {
  display: none;
  position: absolute;
  bottom: 0;
  left: calc(50% - 80px);

  font-size: 14px;
  line-height: 1.4;
  color: $red;
}

.credit-price-field__info {
  display: block;
  font-size: 14px;
  line-height: 1.4;
  color: $gray;
}

@media (max-width: $tablet-width) {
  .credit-price-field {
    margin-bottom: 15px;

    &:nth-child(3) {
      .credit-price-field__label {
        margin-bottom: 10px;
      }
    }
  }

  .credit-price-field__wrapper {
    font-size: 16px;
  }
}

@media (max-width: $mobile-width) {
  .credit-price-field {
    margin-bottom: 10px;

    &:nth-child(3) {
      .credit-price-field__label {
        margin-bottom: 8px;
      }
    }
  }
}
